/* css styles */


.center {
  text-align: center; !important
}


.banner {
  max-width: 150%; !important
  
}


.body{
  background-color: grey; 
}

.img-fluid{
  
  max-width: 100%;
  position: relative;
  margin: auto;
  text-align: center;
  border-radius: 5%;


}

.justificar{
  text-align: justify !important
}